.app{
  max-width: 972px;
  min-width: fit-content;
  width: 100%;
}

.dimensions{
  position: absolute;
  top: 0;
  left: 0;
  color: yellow;
  background-color: black;
  padding: 10px;
  z-index: 2;
}