@import '../styles/variables';

.frontLink {
  display: flex;
  position: relative;

  display: flex;
  align-items: center;
  width: fit-content;
  gap: 7px;
  text-decoration: none;

  transition: all 0.3s ease;

  &.absolute{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }

  &:hover {
    .arrow {
      transform: translateX(3px);
    }
  }

  z-index: 2;
}

.arrow {
  display: flex;
  align-items: center;
  height: 16px;
  transition: transform 0.2s ease;
}

.arrowHead {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 7px; 
  border-color: transparent transparent transparent $primary-green; 
}

.arrowLine {
  width: 37px;
  height: 2px;
  background-color: $primary-green; 
}

.text {
  border-bottom: 1px dotted $primary-green;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $primary-green;
}