@import '../../styles/variables';

.newsItem{ 
  .title, .newsTitleLink{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;

    color: $primary-green;
    margin-bottom: 5px;
  }

  .newsTitleLink {
    text-decoration: underline dotted $primary-green;
    color: inherit;
    z-index: 1;

    transition: color 0.4s ease-in-out, text-decoration 0.4s ease-in-out;
  }

  time{
    font-weight: 400;
    font-size: 14px;
  
    letter-spacing: 0.05em;
    text-transform: uppercase;
  
    color: #737A77;
  }

  .spacer{
    width: 100%;
    height: 1px;
    background: #D8D7D3;

    margin-top: 15px;
    margin-bottom: 5px;
  }

  &.big{
    .title, .newsTitleLink{
      font-family: 'Verb';
      font-style: normal;
      font-weight: 950;
      font-size: 52px;
      line-height: 90%;

      letter-spacing: -0.02em;
      margin-bottom: 10px;

      transition: color 0.4s ease-in-out, text-decoration 0.4s ease-in-out, line-height 0.3s ease-in-out;
    }

    .spacer{
      margin-top: 25px;
      margin-bottom: 35px;
    }

  }

  @media (max-width: 600px) {   
    .spacer{
      margin-top: 20px;
      margin-bottom: 15px;
    }

    &.small{
      .title, .newsTitleLink{
        font-size: 32px;
      }
    } 
  }
}

/* .underline{
  background-image: linear-gradient(transparent,transparent),linear-gradient(#00c9a5,#00c9a5);
  background-position: 100% 100%,0 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%,0 100%;
  transition: background-size .35s ease-out .1s,color .25s ease-out .05s;
}


a:hover .underline,
a:hover.underline {
  background-size:0 100%,100% 100%;
  color:#000;
  transition:background-size .35s ease-out 0s,color .25s ease-out .05s;
}
 */