@import '../../styles/variables';

.newsItem{ 
  display: flex;
  flex-direction: column;

  margin-bottom: 35px;

  >img {
    width: calc(100% + 80px);
    height: auto;
    align-self: flex-end;

    margin-bottom: 15px;
  }

  > h1 {
    font-weight: 950;
    font-size: 52px;
    letter-spacing: -0.02em; 
    line-height: 90%;
    color: $primary-green;

    margin-bottom: 20px;
  }
 
  .newsTitleLink {
    text-decoration: underline dotted $primary-green;
    color: inherit; 
  }

  > time{
    font-weight: 400;
    font-size: 14px;
  
    letter-spacing: 0.05em;
    text-transform: uppercase;
  
    color: #737A77;

    margin-bottom: 8px;
  }

  .description{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #3D5F52;

    margin-bottom: 20px;
  }

  .spacer{
    width: auto;
    padding-left: 30px;
    height: 1px;
    background: $primary-green;
  }

  @media (max-width: 1050px) {    
    >img{
      width: 100%;
    }
  }

  @media (max-width: 600px) {    
    >h1{
      font-size: 32px;
    }

    .description{
      font-size: 24px;
    }
  }
}